<appSettings>
  <add key="FacebookAppId" value="927102704420535"/>
  <add key="FacebookAppSecret" value="a8375e12500d94588846b5d63982f491"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>